<a href="https://colab.research.google.com/github/Elwing-Chou/tibaml0922/blob/main/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 2s 0us/step
84140032/84125825 [==============================] - 2s 0us/step

In [2]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df

In [3]:
train_df = getdata("train")
test_df = getdata("test")

In [4]:
test_df

                                                 content  sentiment
0      If there were two parts that the physically to...          1
1      LIGHTS OF NEW YORK was the first "all-taking" ...          1
2      before watching this movie my thoughts were li...          1
3      As a recreational golfer with some knowledge o...          1
4      The reviews for RENDITION generally haven't be...          1
...                                                  ...        ...
24995  The Cat in the Hat is just a slap in the face ...          0
24996  This old stinker makes the Flash Gordon movies...          0
24997  I rented Dark Harvest (the first one) because ...          0
24998  One look at the rating ought to tell you this ...          0
24999  They make everything too easy in this film. It...          0

[25000 rows x 2 columns]

In [5]:
# Tokenize: 把每個詞彙換成一個整數
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [6]:
# tok.word_index
# tok.index_word

In [7]:
# Sequenize: 真的把文章的詞彙換成一個一個整數(過濾: 3000以外忽略)
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])
pd.DataFrame(x_train_seq)

       0     1     2     3     4     5     ...  1810  1811  1812  1813  1814  1815
0        10   470     5    64   123   234  ...   NaN   NaN   NaN   NaN   NaN   NaN
1       894    17    52    49  1376     4  ...   NaN   NaN   NaN   NaN   NaN   NaN
2        37    28     4     1   956   298  ...   NaN   NaN   NaN   NaN   NaN   NaN
3         6     1     4     3   703   186  ...   NaN   NaN   NaN   NaN   NaN   NaN
4        29     8    29     3    49    19  ...   NaN   NaN   NaN   NaN   NaN   NaN
...     ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
24995    10   116   186    99    12   957  ...   NaN   NaN   NaN   NaN   NaN   NaN
24996  2887     3   752     5    28     4  ...   NaN   NaN   NaN   NaN   NaN   NaN
24997    10   232    37   204    40   293  ...   NaN   NaN   NaN   NaN   NaN   NaN
24998    10  1056    11    19    30    30  ...   NaN   NaN   NaN   NaN   NaN   NaN
24999    11     6     3  1425    19   258  ...   NaN   NaN   NaN   NaN   NaN   NaN

[25000 rows x 1816 columns]

In [8]:
# Padding: 截長補短(補前截前)
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=512)
x_test_pad = pad_sequences(x_test_seq, maxlen=512)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...  506   507  508   509   510   511
0        0    0    0    0    0    0  ...    1  1467   39   672   588    89
1        0    0    0    0    0    0  ...   11    17    6     3  2078  2525
2        0    0    0    0    0    0  ...  602    12  494     5   131   709
3        0    0    0    0    0    0  ...  199     4    1   462   706   155
4        0    0    0    0    0    0  ...   22    76    3   173     4  1028
...    ...  ...  ...  ...  ...  ...  ...  ...   ...  ...   ...   ...   ...
24995    0    0    0    0    0    0  ...  395    20    1  2882     4     9
24996    0    0    0    0    0    0  ...   21     1  201     5   383     9
24997    0    0    0    0    0    0  ...   18   124    9    25     5     8
24998    0    0    0    0    0    0  ...    2  1105  726   227    50  2964
24999    0    0    0    0    0    0  ...   22    26  253  1798    20  1798

[25000 rows x 512 columns]

In [9]:
# !!!!!!!3000 + 0(padding)
INPUT_DIM = 3001
# you can try 256
OUTPUT_DIM = 128
INPUT_LENGTH = 512

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense

layers = [
    # 3001(種) * 128(語意) = 384128
    Embedding(input_dim=INPUT_DIM, 
              output_dim=OUTPUT_DIM, 
              input_length=INPUT_LENGTH, 
              mask_zero=True),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [11]:
# y: 做one-hot encoding很耗費ram, 直接使用Sparse省RAM又方便
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam",
              metrics=["accuracy"])

In [12]:
import numpy as np
y_train = np.array(train_df["sentiment"])
y_test = np.array(test_df["sentiment"])

In [ ]:
# batch_size: 看多少筆資料調整一次梯度(10-200)
# = 200: 54000(訓練資料) / 200 -> 270(次)梯度調整
# epochs: 54000筆看幾次
# = 10: 270 * 10 (次) 梯度調整
# validation_split: 0.1
# verbose: 1(進度條) 0(啥都沒) 2(不會有進度條)
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    EarlyStopping(patience=5, restore_best_weights=True),
]
model.fit(x_train_pad,
          y_train,
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          verbose=2,
          callbacks=callbacks)

In [14]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 2s 3ms/step - loss: 0.2933 - accuracy: 0.8801

[0.2933148145675659, 0.880079984664917]

In [16]:
from tensorflow.keras.layers import SimpleRNN

layers = [
    # 3001(種) * 128(語意) = 384128
    Embedding(input_dim=INPUT_DIM, 
              output_dim=OUTPUT_DIM, 
              input_length=INPUT_LENGTH, 
              mask_zero=True),
    # in1(128 * 64) + in2(64 * 64) + bias(64) = 12352
    SimpleRNN(64),
    Dense(2, activation="softmax")
]
model2 = Sequential(layers)
model2.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 512, 128)          384128
_________________________________________________________________
simple_rnn_1 (SimpleRNN)     (None, 64)                12352
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 130
=================================================================
Total params: 396,610
Trainable params: 396,610
Non-trainable params: 0
_________________________________________________________________

In [17]:
# y: 做one-hot encoding很耗費ram, 直接使用Sparse省RAM又方便
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model2.compile(loss=SparseCategoricalCrossentropy(),
              optimizer="adam",
              metrics=["accuracy"])

In [ ]:
# batch_size: 看多少筆資料調整一次梯度(10-200)
# = 200: 54000(訓練資料) / 200 -> 270(次)梯度調整
# epochs: 54000筆看幾次
# = 10: 270 * 10 (次) 梯度調整
# validation_split: 0.1
# verbose: 1(進度條) 0(啥都沒) 2(不會有進度條)
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    EarlyStopping(patience=5, restore_best_weights=True),
]
model2.fit(x_train_pad,
          y_train,
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          verbose=2,
          callbacks=callbacks)

Epoch 1/100
113/113 - 132s - loss: 0.5564 - accuracy: 0.6877 - val_loss: 0.5050 - val_accuracy: 0.7872
Epoch 2/100
113/113 - 130s - loss: 0.3520 - accuracy: 0.8492 - val_loss: 0.3754 - val_accuracy: 0.8280
Epoch 3/100

In [ ]:
model2.evaluate(x_test_pad, y_test)