<a href="https://colab.research.google.com/github/Elwing-Chou/tibaml0922/blob/main/transfer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import zipfile
f = zipfile.ZipFile("/content/drive/MyDrive/additional/train.zip")
f.extractall()

In [6]:
import glob
import pandas as pd
dogs = glob.glob("train/dog.*")
cats = glob.glob("train/cat.*")
df = pd.DataFrame({
    "path":dogs + cats,
    "ans":[0] * len(dogs) + [1] * len(cats)
})
df

                     path  ans
0      train/dog.5450.jpg    0
1      train/dog.1933.jpg    0
2      train/dog.8744.jpg    0
3      train/dog.2438.jpg    0
4      train/dog.5943.jpg    0
...                   ...  ...
24995  train/cat.8920.jpg    1
24996  train/cat.1859.jpg    1
24997  train/cat.8150.jpg    1
24998  train/cat.8976.jpg    1
24999  train/cat.2847.jpg    1

[25000 rows x 2 columns]